# Library dependencies
Django>=5.0.0

# Packaging dependencies
# black==25.1.0
# build==1.2.2.post1
# packaging==25.0
# pip==25.1.1
# setuptools==80.9.0
# setuptools-scm==8.3.1
# twine==6.1.0
# wheel==0.45.1

# Testing dependencies
# pytest-cov==6.2.1
# pytest-django==4.11.1
# pytest-env==1.1.5
# pytest-flakes==4.0.5
# pytest==8.4.0

# Subdependencies
# asgiref==3.8.1
# certifi==2025.4.26
# charset-normalizer==3.4.2
# click==8.2.1
# coverage==7.9.1
# docutils==0.21.2
# id==1.5.0
# idna==3.10
# iniconfig==2.1.0
# jaraco.classes==3.4.0
# jaraco.context==6.0.1
# jaraco.functools==4.1.0
# keyring==25.6.0
# markdown-it-py==3.0.0
# mdurl==0.1.2
# more-itertools==10.7.0
# mypy_extensions==1.1.0
# nh3==0.2.21
# pathspec==0.12.1
# platformdirs==4.3.8
# pluggy==1.6.0
# pyflakes==3.3.2
# Pygments==2.19.1
# pyproject_hooks==1.2.0
# readme_renderer==44.0
# requests-toolbelt==1.0.0
# requests==2.32.4
# rfc3986==2.0.0
# rich==14.0.0
# sqlparse==0.5.3
# urllib3==2.4.0
